@page
@model Medical_Clinic.Pages.MedicalRecords.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecord[0].Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecord[0].Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecord[0].Treatment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecord[0].RecordDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MedicalRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Treatment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RecordID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RecordID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RecordID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
